html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, pre,
a, abbr, acronym, address, big, code,
del, dfn, em, img, ins, kbd, s, samp,
small, strike, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
.header__name a:hover{
  color: #f48f1a;
  transition: ease 0.3s;
}
.about__text a:hover{
  color: #f48f1a;
  transition: ease 0.3s;
}
.certificate_link:hover{
  color: #f48f1a;
  transition: ease 0.3s;
}
.list-mob a:hover{
  color: #f48f1a;
  transition: ease 0.3s;
}
.contact__name:hover{
  color: #f48f1a;
  transition: ease 0.3s;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button:active, button:focus {
	outline: none;
}
button::-moz-focus-inner {
	border: 0;
}
a{
	text-decoration: none;
}

h1, h2, h3, h4, p, li, a {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
h1, h2, h3, h4{
  font-weight: 600; 
  color: #042341;
  text-align: center;
}
h1{
  font-size: 35px; 
  letter-spacing: 1px; 
  padding-bottom: 15px;
  border-bottom: solid 5px #f48f1a;
  margin-top: 100px;
}
h2 {
  font-size: 30px;
  letter-spacing: 1px;
  padding-bottom: 15px;
  border-bottom: solid 5px #f48f1a; 
  margin: 40px auto 0 auto;
}
h3{
  font-size: 25px;
  margin-bottom: 10px;
}
h4{
  font-size: 20px;
  margin: 10px 0;
}
.header__content {
  position: fixed;
  z-index: 10;
  min-width: 100%;
  min-height: 60px;
  background-color: #042341; 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}
.header__item {
  color: #fff;
  margin: auto 20px auto 20px;
  letter-spacing: 1px;
}
.header__item:hover {
  color: #f48f1a;
  transition: ease 0.3s;
}
.header__name a{
  color:#fff;
}
.header__list {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.header__lang {
  color: #fff;
  letter-spacing: 1px;
}
.header__lang:hover {
  color: #f48f1a;
  transition: ease 0.3s;
}
.about__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center; 
  padding-bottom: 20px;
}
.about__photo {
  border-radius: 50%;
  height: auto;
  width: 100%;
  max-width: 230px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.certificate__photo {
  height: auto;
  min-height: 326px;
  width: 100%;
  max-width: 230px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.certificate_flex {
  display: flex;
  width: 56%;
  flex-wrap: wrap;
  justify-content: center;
}
.about__text {
  color: #000;
  margin: 5px 20% 5px 20%;
  line-height: 1.5;
}
.certificate_cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5px;
  width: 32%;
}
.cases_descr p{
  line-height: 1.5;
}
.portfolio__title {
  font-size: 30px;
  color: #042341;
  letter-spacing: 1px;
  font-weight: bold;
  margin-top: 70px;
  padding-bottom: 35px;
  border-bottom: solid 5px #f48f1a;
}
.portfolio__subtitle {
  color: #000;
  margin: 30px 20% 20px 20%;
  text-align: center;
  line-height: 1.5;
}
.portfolio__list {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
}
.portfolio__item {
  padding: 0 44px 0 44px;
  color: #000;
}
.portfolio__item_center {
  border-right: solid 1px #000;
  border-left: solid 1px #000;
  padding: 0 44px 0 44px;
  color: #000;
}
.portfolio__layout {
  display: flex;
  flex-direction: row;
  -ms-flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}
.cases_descr{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 15px;
    width: 100%;
}
.portfolio__example_one {
  background: url(../image/one.png) 100% 100% no-repeat;
  background-size: 100% 100%;
  min-width: 400px;
  min-height: 400px;
  margin: 30px 60px 30px 60px;
  border: 1px solid #000;
}
.portfolio__example_two {
  background: url(../image/two.png) 100% 100% no-repeat;
  background-size: 100% 100%;
  min-width: 400px;
  min-height: 400px;
  margin: 30px 60px 30px 60px;
  border: 1px solid #000;
}
.portfolio__example_three {
  background: url(../image/three.png) 100% 100% no-repeat;
  background-size: 100% 100%;
  min-width: 400px;
  min-height: 400px;
  margin: 30px 60px 30px 60px;
  border: 1px solid #000;
}
.portfolio__example_four {
  background-size: 100% 100%;
  min-width: 400px;
  min-height: 400px;
  margin: 30px 60px 30px 60px;
  border: 1px solid #000;
}
.contact__content {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.contact__info {
  color: #000;
  margin-top: 30px;
  text-align: center;
  line-height: 1.5;
}
.contact__box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-evenly;
  margin-top: 25px;
}
.contact__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  width: 33.33%;
}
.contact__image {
  font-size: 30px;
  margin-bottom: 15px;
  color: #000;
}
.experience__box{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
}
.experience__item{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  width: 56%;
}
.experience__item div{
  margin: 15px 0 0 0;
  line-height: 1.5;
}
.experience__name{
  font-size: 19px;
  font-weight: 700;
}
.cases_mob{
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: flex-start;
}
.link_ex{
  line-height: 1.5;
}
.certificate_link{
  text-align: center;
  line-height: 1.3;
}
.year{
  font-weight: 600;
  margin: 6px 0 0 0;
  color: #042341;
}
.fa-phone-alt:before {
  content: url('../image/LinkedIn.webp'); 
}
.link_ex1 {
  color: red;
  font-size: 14px;
}
.cases_img img{
  margin-top: 5px;
  border: #9fa7b2 1px solid;
  width: 100%;
  max-width: 1280px;
}
.cases_descr ul{
  text-align: left;
}
.cases_img{
  text-align: center;
}
.fa-envelope:before {
  content: url('../image/Gmail.webp'); 
  width: 41px;
}
.telegram:before {
  content: url('../image/telegram.webp'); 
  width: 41px;
}
.bold_text{
  font-weight: 600;
}
.contact__name{
  color: #042341;
  margin-bottom: 7px;
}
.work_exp{
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 767px){
  .contact__content h2{
    margin-bottom: -25px;
  }
  .certificate_cont{
    width: 47%;
  }
  .certificate_link{
    font-size: 14px;
  }
  .certificate_flex{
    width: 100%;
  }
  .header__lang{
    margin: 20px 0;
  }
  .header__item{
    margin: auto 5px;
  }
  .about__text{
    margin: 0px 5%;
    font-size: 14px;
  }
  .experience__item div{
    margin: 25px -37px 0px -33px;
  }
  .portfolio__subtitle{
    margin: 20px 5% 0 5%;
  }
  .certificate__photo{
    min-height: 287px;
  }
  .contact__info{
    margin-top: 45px;
    font-size: 14px;
  }
  .contact__box{
    margin-top: 0px;
    flex-direction: column;
    align-items: center;
  }
  .contact__item{
    margin-top: 10px;
    width: 100%;
  }  
  .experience {
    background: none;
  }
  .year{
    text-align: center;
  }
  h1{
    margin-top: 80px;
    border-bottom: solid 3px #f48f1a;
    font-size: 25px;
    padding-bottom: 15px;
  }
  .experience__box{
    margin-top: 15px;
  }
  .about__photo{
    max-width: 160px;
  }
  h2{
    font-size: 23px;
    border-bottom: solid 3px #f48f1a;
    margin-top: 5px;
  }
  .list-mob{
    font-size: 14px;
    margin: 5px -37px 0px -33px !important;
  } 
  .contact__image{
    font-size: 25px;
  }
  .logo_img{
    width: 115px;
    height: 65px;
  }
  .cases_descr{
    font-size: 14px;
  }
  h3{
    font-size: 21px;
    margin-bottom: 0px;
  }
  .header__content{
    justify-content: space-around;
  }
  .link_ex{
    font-size: 14px;
    margin: 0;
  }
  .contact_mob {
    background-color: aliceblue;
  }
  h4{
    font-size: 19px;
    margin: 5px 0;
  }
  .cases_mob img{
    width: 100%;
    height: 100%;
  }
  .cases_mob{
    align-items: center;
  }
  .cases_descr{
    width: 97%;
  }
  .cases_mobl{
    display: none;
  }
}